body {background-color: rgba(128, 128, 128, 0.349);}
h1{color: aliceblue;}
i{color: blue;}
#logo{margin-left: 4%;}
#buick{margin-left: 40%;}
#back{margin-left: 40%;}
#lack{margin-left: 40%;}
#coupe{margin-left: 40%;}
#f100{margin-left: 40%;}